<html>
    <head>
        <title>University</title>
    </head>
    <body>
        <h1>Welcome to the University Registrar</h1>

        <p><a href="/students">Click here</a> to see all of the students and add students.</p>
        <p><a href="/courses">Click here</a> to see all courses and add courses.</p>
<!-- CLEAR DATABASE BUTTON -->
        <form action="/delete_all" method="post">
            <button type="submit" name="delete_all">Delete ALL Courses and Students in Database</button>
        </form>
<!-- NAVIGATION -->
        {% include 'footer.html' %}

    </body>
</html>
