<html>
    <head>
        <title>University</title>
    </head>
    <body>
        <h1>Students</h1>
<!-- DISPLAY AREA -->
        {% if students is not empty %}
            <h3>List of current students:</h3>
            <ul>
                {% for student in students %}
                    <li><a href="/student/{{ student.getId }}">{{ student.getName }}</a> --- {{ student.getEnrollment }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>You currently don't have any students listed! Use the form below to add a student.</h3>
        {% endif %}
<!-- END DISPLAY AREA -->
<!-- START ADD STUDENT FORM -->
        <form action="/add_student" method="post">
            <label for="name">Student Name:</label>
            <input type="text" name="name" required>

            <label for="enrollment">Enrollment Date:</label>
            <input type="date" name="enrollment" required>

            <button type="submit">Add Student</button>
        </form>
<!-- END ADD STUDENT FORM -->
        <form action="/delete_all_students" method="post">
            <button type="submit">Delete ALL Students</button>
        </form>
<!-- NAVIGATION -->
        {% include 'footer.html' %}

    </body>
</html
